[Desktop Entry]
Encoding=UTF-8
Name=Enllaç a mariadb/5.5 at 2b065acb53b18eb44e1d78a1a41f0a46f829c291 · docker-library/mariadb
Type=Link
URL=https://github.com/docker-library/mariadb/tree/2b065acb53b18eb44e1d78a1a41f0a46f829c291/5.5
Icon=text-html
